/* CSS Reset - Targets Everything */
/*Removes everything from the html*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Colours From My Style Guide*/
:root {
    --Primary: #0748C3;
    --PrimaryShade: #0003A9;
    --PrimaryTint: #418BED;

    --Muted: #CED9E8;
    --Light: #FFFFFF;
    --Dark: #000000;
    
    --Secondary: #CCCCCC;
    --Secondary-Shade: #A6A6A6;
    --Secondary-Tint: #E5E5E5;

    --font-normal: Arial, Roboto, sans-serif;
    --font-heading: 'Noto Serif', serif;

    --space-0: 0;
    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 0.5rem;
}

body {
    font-family: var(--font-normal);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
  flex: 1;
}

.header {
    background-color: var(--Primary);
}

.header-nav {
    color: #ffffff;
}

.header-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  height: 100px;
  width: auto;
  display: block;
}

.footer {
  background-color: var(--Primary);
  color: var(--Light);
}

.footer-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
}

.footer p {
  margin: 0;
  font: var(--font-normal);
}


/***************** Hero Slider *********************/
.hero_section {
    background-color: var(--Primary);
    height: 460px;
    width: 1280px;
    position: relative;
    overflow: hidden;
}

.slider_tabs input{
    visibility: hidden;
    display: none;
}

.labels{
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.labels label{
    height: 20px;
    width: 20px;
    background-color: var(--Light);
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease-out;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.slider_tabs input:nth-child(1):checked ~ .labels label:nth-child(1),
.slider_tabs input:nth-child(2):checked ~ .labels label:nth-child(2),
.slider_tabs input:nth-child(3):checked ~ .labels label:nth-child(3),
.slider_tabs input:nth-child(4):checked ~ .labels label:nth-child(4){
    width: 60px;
    background-color: var(--Muted);
}

.hero_content{
    display: flex;
    height: 460px;
    width: calc(1280px * 4);
    position: absolute;
    top: 0;
    bottom: 0;
    transition: all .5s linear;
}

.hero_content .hero_box{
    height: 460px;
    width: 1280px;
    flex-shrink: 0;
}

.slider_tabs input:nth-child(1):checked ~ .hero_content{    
    left: 0px;
}

.slider_tabs input:nth-child(2):checked ~ .hero_content{
    left: -1280px;
}

.slider_tabs input:nth-child(3):checked ~ .hero_content{
    left: -2560px;
}

.slider_tabs input:nth-child(4):checked ~ .hero_content{
    left: -3840px;
}

.heading_1{
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px;
    font-family: var(--font-heading);
    color: var(--Light);
}


/***************News Section********************/
.news {
    padding: 20px;
    font-family: var(--font-normal);
}

.news_section {
    display: flex;
    gap: 20px;
}

.news1 {
    border: 1px solid var(--Muted);
    border-radius: 20px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background-color: var(--Light);
}

.news1_content {
    padding: 10px;
}

.news1_content img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.news_text {
    margin: 10px 0 5px 0;
    font-size: 14px;
}

.news_date {
    padding-left: var(--space-1);
    font-size: 12px;
    color: var(--Muted);
    background-color: var(--Primary);
    border-radius: 10px;
}



/*Annoying purple links remover*/
.link {
    color: var(--primary);
    text-decoration: underline;
}
 /*Link colour change*/
.link:hover {
    color: var(--primary-tint);
}

/************************* COLOR *************************/
.bg-primary { background-color: var(--primary); }
.bg-dark { background-color: var(--dark); }
.bg-light { background-color: var(--light); }
.bg-muted { background-color: var(--muted); }

.text-primary { color: var(--primary); }
.text-dark { color: var(--dark); }
.text-light { color: var(--light); }
.text-muted { color: var(--muted); }